@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <input id="input1" placeholder="First goes here..." />
    <input id="input2" placeholder="Second goes here..." />
    <a href="#" id="confirm">confirm</a>
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<script>
    var selector = '#confirm';
    $(selector).click(function() {
        defaultValidator
            .get()
            .validate(
                '#input1',
                'myProperty1',
                predicates.string.longerThan(3).and(predicates.string.shorterThan(10)))
            .validate(
                '#input2',
                'myProperty2',
                predicates.string.longerThan(3).and(predicates.string.shorterThan(10)))
            .apply(console.log);
    });
</script>